﻿/* header container */
#header__container {
  background-color: #ff0000;
}

/* user action navigation */
#user_action__navbar {
  color: rgba(255, 255, 255, 0.95);
  height: 22px;
  line-height: normal;
  min-width: 300px;
  position: absolute;
  right: 1.3rem;
  text-align: right;
  top: 13px;
  width: 50%;
}
#user_action__navbar a {
  color: inherit;
  text-decoration: none;
}
#user_action__navbar .far,
#user_action__navbar svg {
  font-size: 1rem;
  margin: 0 0.25rem;
}

#user_action__navbar .far:hover,
#user_action__navbar svg:hover {
  color: rgba(255, 255, 255, 0.80);
  cursor: pointer;
}

/* footer css */
.footer {
  background-color: black;
  bottom: 0;
  color: white;
  left: 0;
  position: fixed;
  text-align: center;
  width: 100%;
}

/* css tools */
.flex {
  display: flex;
}

/* sub header with date picker */
#subheader__container {
  float:right;
}