{% include 'header.html' %}

{% include 'nav.html' %}

<!-- not yet available, but soon
<a href='/graphs?author={{ repo.pk }}&start={{ start_str }}&end={{ end_str }}&intv={{ intv }}'>Graphs: All Repos</a>
-->

<!-- FIXME: better layout -->

Display Name: {{ author.display_name }}<br/>
Email: {{ author.email }}</br>




<!-- disabled until feature flag
<a href='/report/log_details?author={{ author.pk }}&start={{ start_str }}&end={{ end_str }}'><i class='fas fa-book'></i> Detailed Log View for Author</a></br>
-->

{% include 'footer.html' %}
