
{% include 'header.html' %}
{% include 'nav.html' %}

{% comment %}
FIXME: pagination below should be in an included template
{% endcomment %}

{% if path and file %}
Showing commits to {{path}}/{{file}}. <a href="/reports/commits?repo={{ repo }}&start={{ start_str }}&end={{ end_str }}">Clear filter.</a><br/><br/>
{% elif path %}
Showing commits to files in {{path}}. <a href="/reports/commits?repo={{ repo }}&start={{ start_str }}&end={{ end_str }}">Clear filter.</a><br/><br/>
{% elif file %}
Showing commits to any file named {{file}}. <a href="/reports/commits?repo={{ repo }}&start={{ start_str }}&end={{ end_str }}">Clear filter.</a><br/><br/>
{% endif %}


{% if has_prev %}<a href="{{ prev_link }}">&lt;&lt;</a>{% endif %} page {{ page_number}}{% if has_next %}<a href="{{ next_link }}">&gt;&gt;</a>{% endif %}

<div id="myGrid" class="ag-theme-balham"></div>

  <script type="text/javascript" charset="utf-8">

    {% include 'tables.js' %}

    function authorNavCell(params) {
        return authorNav(params.value);
    }

    function repoNavCell(params) {
        return repoNav(params.value);
    }

    function linkToAuthorIndex(params) {
        return "<a href='/author/" + params.value + "'>" + params.value + "</a>";
    }

    function linkToIndex(params) {
        return "<a href='/repo/" + params.value + "?start={{ start_str }}&end={{ end_str }}'>" + params.value + "</a>";
    }


    var columnDefs = [
        {headerName: "Date",        field: "commit_date", sortable: false, filter: true, resizable: true, type: ['dateColumn'] },
        {% if repo %}
        {headerName: "Author",         field: "author_name", sortable: true, filter: true, resizable: true, },
        {headerName: "Email",          field: "author", cellRenderer: linkToAuthorIndex, sortable: true, filter: true, resizable: true, },
        {% endif %}
        {% if author %}
        {headerName: "Repo",           field: "repo", cellRenderer: linkToIndex, sortable: true, filter: true, resizable: true, },
        
        {% endif %}
        {headerName: "Description", field: "subject", sortable: true, filter: true, width: 600, resizable: true, },
        {headerName: "SHA",         field: "sha", filter: true, resizable: true, }
    ];

    var rowData = {{ table_json | safe }};
    var gridOptions = {
      columnDefs: columnDefs,
      rowData: rowData
    };
    var eGridDiv = document.querySelector('#myGrid');
    thisGrid = new agGrid.Grid(eGridDiv, gridOptions);

</script>

</div>

{% include 'footer.html' %}


