
{% include 'header.html' %}
{% include 'nav.html' %}

<style>
.parent {
display: grid;
grid-template-columns: repeat(8, 1fr);
grid-template-rows: repeat(11, 1fr);
grid-column-gap: 0px;
grid-row-gap: 0px;
}

.div1 { grid-area: 1 / 1 / 10 / 3; margin-left: 20px; margin-right: 20px; }
.div2 { grid-area: 1 / 3 / 12 / 9; } 
</style>

<body>

<div class="tab">
    <button class="tablinks" onclick="switchTabs(event, 'commit-graphs')" id="defaultTab">Commits</button>
    <button class="tablinks" onclick="switchTabs(event, 'lines-graphs')">Lines</button>
    <button class="tablinks" onclick="switchTabs(event, 'custom-graphs')">Custom</button>
</div>

<style>
    .tab {
        overflow: hidden;
        background-color: white;
    }
    .tab button {
        border: 2px solid black;
        background-color: white;
        font-weight: bold;
        color: #F08080;
        border-color: #F08080;
        cursor: pointer;
        padding: 10px 15px;
        border-radius: 5px;
        margin-left: 5px;
        margin-bottom: 5px;
    }
    .tab button:hover {
        background-color: #F08080;
        color: white;
    }
    .tab button.active {
        background-color: #F08080;
        color: white;
    }
    .flex-container {
        display: flex;
        flex-wrap: wrap;
    }

</style>
<div id="commit-graphs" class="tabcontent">
    <div class="flex-container">
        <div class="flex-item">
            <div id="commits-time" class="flex-content"></div>
        </div>
        <div class="flex-item">
            <div id="latest-earliest" class="flex-content"></div>
        </div>
        <div class="flex-item">
            <div id="size-total" class="flex-content"></div>
        </div>
    </div>
</div>
<div id="lines-graphs" class="tabcontent">
    <div class="flex-container">
        <div id="added-time" class="flex-item"></div>
        <div id="changed-added-removed" class="flex-item"></div>
    </div>
</div>
<div id="custom-graphs" class="tabcontent">
    <div class="parent">
        <div class="div1">
            <div>
                <input type="hidden" id="favorites" name="favorites" value="{{ favorites }}">
                <label class="label label-default"><b>Commonly Used</b></label>
                <select class="form-control" id="favorites_dropdown" onChange="fillFavoriteAxis({{ favorites }}[this.value])">
                    <option value="default" selected>Select Option</option>
                    {% for fav in favorites.keys %}
                    <option value="{{ fav }}">{{ fav }}</option>
                    {% endfor %}
                </select>
            </div>
            <div>
                <div>
                    <br />
                    <label class="label label-default" for="custom_xaxis"><b>Select Axes</b></label>
                    <div class="custom-control custom-switch" style="float:right">
                        <input type="checkbox" class="custom-control-input" id="3d_checkbox" onchange="set3d();">
                        <label class="custom-control-label" for="3d_checkbox"><b>3D</b></label>
                    </div>
                    <br />
                    <select class="form-control" id="custom_yaxis" onchange="setDropdowns();">
                        <option value="default" selected>Select y-axis</option>
                        {% for ax in axis %}
                        <option value="{{ ax }}">{{ ax }}</option>
                        {% endfor %}
                    </select>
                    <br>
                    <select class="form-control" id="custom_xaxis" onchange="setDropdowns();">
                        <option value="default" selected>Select x-axis</option>
                        <option value="Time">Time</option>
                        {% for ax in axis %}
                        <option value="{{ ax }}">{{ ax }}</option>
                        {% endfor %}
                    </select>
                    <!--Want to hide z-axis when 3D is unchecked-->
                    <br>
                    <div id="zelements" style="display:none;">
                        <select class="form-control" id="custom_zaxis" onchange="setDropdowns();">
                            <option value="default" selected>Select z-axis</option>
                            {% for ax in axis %}
                            <option value="{{ ax }}">{{ ax }}</option>
                            {% endfor %}
                        </select>
                        <br>
                    </div>
                </div>
            </div>
            <div>
                <label class="label label-default" for="graph_type"><b>Graph Type</b></label>
                <select class="form-control" id="graph_type" onchange="loadGraph()">
                    <option value="default" selected>Select Graph Type</option>
                    <option id="line" value="Line">Line</option>
                    <option id="scatter" value="Scatter">Scatter</option>
                    <option id="mesh" value="Mesh">Mesh</option>
                    <option id="stacked" value="Stacked">Stacked</option>
                </select>
            </div>
            <br>
            <!-- <div>
                <button class="btn btn-primary" id="make_graph" type="button" style="width:100%" onclick="loadGraph()"><b>Make Graph</b></input>
            </div> -->
            <div>
                <br>
                <p class="p" id="error"></p>
            </div>
        </div>
        <div class="div2">
            <div id="graph">
                <!--Placeholder for the graph-->
                <div id="explanation label">
                    Tip: Select part of the graph to zoom in.
                </div>
            </div>
        </div>
    </div> 
</div>


<script type="text/javascript">

function switchTabs(evt, tabName) {
  if (tabName == "commit-graphs") {
    showSpecificGraph("Time", "Commit Total", null, "Line", "commits-time")
    showSpecificGraph("Latest Commit Date", "Earliest Commit Date", null, "Scatter", "latest-earliest")
    showSpecificGraph("Commit Total", "Average Commit Size", null, "Scatter", "size-total")
  }
  if (tabName == "lines-graphs") {
    showSpecificGraph("Time", "Lines Added", null, "Line", "added-time")
    showSpecificGraph("Lines Changed", "Lines Added", "Lines Removed", "Scatter", "changed-added-removed")
  }
  if (tabName == "custom-graphs") {
      loadDefaultGraph()
  }
  
  tabcontent = document.getElementsByClassName("tabcontent");
  for (i = 0; i < tabcontent.length; i++) {
    tabcontent[i].style.display = "none";
  }

  tablinks = document.getElementsByClassName("tablinks");
  for (i = 0; i < tablinks.length; i++) {
    tablinks[i].className = tablinks[i].className.replace(" active", "");
  }

  document.getElementById(tabName).style.display = "block";
  evt.currentTarget.className += " active";
}


set3d = function() {
    resetFav();
    if ((document.getElementById("3d_checkbox").checked) == true) {
        document.getElementById("zelements").style.display = "block";
        document.getElementById("stacked").hidden = true;
    } else {
        document.getElementById("zelements").style.display = "none";
        document.getElementById("stacked").hidden = false;
    }
}

fillFavoriteAxis = function(axis) {
    if (axis.length == 2) {
        document.getElementById("3d_checkbox").checked = false;
        document.getElementById("custom_xaxis").value = axis[0];
        document.getElementById("custom_yaxis").value = axis[1];
        document.getElementById("zelements").style.display = "none";
    } else if (axis.length == 3) {
        document.getElementById("zelements").style.display = "block";
        document.getElementById("3d_checkbox").checked = true;
        document.getElementById("custom_xaxis").value = axis[0];
        document.getElementById("custom_yaxis").value = axis[1];
        document.getElementById("custom_zaxis").value = axis[2];
    }
    setDropdowns();
}

resetFav = function() {
    document.getElementById("favorites_dropdown").value = "default";
}


setDropdowns = function() {
    if (document.getElementById("custom_xaxis").value == "Time") {
        document.getElementById("line").hidden = false;
        if (document.getElementById("3d_checkbox").checked) {
            document.getElementById("stacked").hidden = true;
        } else {
            document.getElementById("stacked").hidden = false;
        }
        document.getElementById("stacked").hidden = false;
        document.getElementById("graph_type").value = "Line";
        document.getElementById("scatter").hidden = false;
        document.getElementById("mesh").hidden = true;
    } else {
        document.getElementById("scatter").hidden = false;
        if (document.getElementById("3d_checkbox").checked) {
            document.getElementById("mesh").hidden = false;
        } else {
            document.getElementById("mesh").hidden = true;
        }
        document.getElementById("line").hidden = true;
        document.getElementById("stacked").hidden = true;
        document.getElementById("graph_type").value = "Scatter";
        document.getElementById("graph_type").disabled = false;
    }
    loadGraph()
}

setErrorMsg = function(msg) {
    document.getElementById("error").innerText = msg;
}


validateAxes = function() {
    x = document.getElementById("custom_xaxis").value;
    y = document.getElementById("custom_yaxis").value;
    z = document.getElementById("custom_zaxis").value;
    graph_type = document.getElementById("graph_type").value;
    is3d = document.getElementById("3d_checkbox").checked;
    
    if (graph_type === "default") {
        setErrorMsg("Please select graph type");
        return false;
    }
    if (x === "default" || y === "default" || (z === "default" && is3d)) {
        setErrorMsg("Please select axis");
        return false;
    } else {
        setErrorMsg("Loading Graph...");
        if (is3d) {
            return [x,y,z];
        } else {
            return [x, y, null];
        }
    }
}

resetDefaults = function() {
    setErrorMsg("");
    document.getElementById("favorites_dropdown").value = "default";
    document.getElementById("3d_checkbox").checked = false;
    document.getElementById("custom_xaxis").value = "default";
    document.getElementById("custom_yaxis").value = "default";
    document.getElementById("custom_zaxis").value = "default";
    document.getElementById("zelements").style.display = "none";
    document.getElementById("graph_type").value = "default";
}

checkURL = function() {
    const queryString = window.location.search;
    const urlParams = new URLSearchParams(queryString);
    x = urlParams.get("xaxis");
    y = urlParams.get("yaxis");
    z = urlParams.get("zaxis");
    graph_type = urlParams.get("graph_type");
    if (x) {
        if (z == "null") {
            fillFavoriteAxis([x, y])
        } else {
            fillFavoriteAxis([x, y, z])
        }
        document.getElementById("graph_type").value = graph_type;
        loadGraph();
    }
}

loadGraph = function() {
    axes = validateAxes();
    x = axes[0];
    y = axes[1];
    z = axes[2];
    
    const queryString = window.location.search;
    const urlParams = new URLSearchParams(queryString);
    author = urlParams.get("author");
    graph_type = document.getElementById("graph_type").value
    if (axes) {
        repos = urlParams.get("repos");
        author = urlParams.get("author");
        if (repos) {
            request = `/graph2/custom?&repos={{ repos_str}}&start={{ start_str}}&end={{ end_str}}`;
        } else {
            request = `/graph2/custom?&repo={{ repos_str}}&start={{ start_str}}&end={{ end_str}}`;
        }
        if (author) {
            request += `&author=${author}`
        }
        request += `&intf={{ intv }}&graph_type=${graph_type}&xaxis=${x}&yaxis=${y}`
        if (z) {
            request += `&zaxis=${z}`;
        }
        request = request.replace(/ /g, "%20");
        $("#graph").load(request, function(response, status, xhr) {
            if (status == "error") {
                setErrorMsg("Error loading graph");
            } else {
                setErrorMsg("");
                window.history.pushState("", "", window.location.href.split("xaxis")[0] + "xaxis=" + x + "&yaxis=" + y + "&zaxis=" + z + "&graph_type=" + graph_type);
            }
        });
    }
}

function showSpecificGraph(xaxis, yaxis, zaxis, type, elementId) {
    const queryString = window.location.search;
    const urlParams = new URLSearchParams(queryString);
    author = urlParams.get("author");
    repos = urlParams.get("repos");
    if (repos) {
        request = `/graph2/custom?&repos={{ repos_str}}&start={{ start_str}}&end={{ end_str}}`;
    } else {
        request = `/graph2/custom?&repo={{ repos_str}}&start={{ start_str}}&end={{ end_str}}`;
    }
    if (author) {
        request += `&author=${author}`
    }
    request += `&intf={{ intv }}&graph_type=${type}&xaxis=${xaxis}&yaxis=${yaxis}`
    if (zaxis) {
        request += `&zaxis=${zaxis}`;
    }
    request = request.replace(/ /g, "%20");
    console.log(request)
    $("#" + elementId).load(request, function(response, status, xhr) {
        if (status == "error") {
            document.getElementById(elementId).innerText = "Error loading graph";
        } 
    });
}

loadDefaultGraph = function() {
    document.getElementById("favorites_dropdown").value = "Commits";
    document.getElementById("custom_xaxis").value = "Time";
    document.getElementById("custom_yaxis").value = "Commit Total";
    document.getElementById("graph_type").value = "Stacked";
    loadGraph(); 
}


resetDefaults();
checkURL();
document.getElementById("defaultTab").click();

</script>

</body>

{% include 'footer.html' %}


