<div id="datepicker_dates__display" class="right" >
    <i class="far fa-calendar-alt"></i>
    <span id="start_date_display" data-date="{{ start_str }}">{{ start|date:"M d, Y" }}</span>
    &nbsp;to&nbsp;
    <span id="end_date_display" data-date="{{ end_str }}">{{ display_end|date:"M d, Y" }}</span>
</div>
<div id="datepicker_modal" style="display:none;">
    <div id="date_picker_container">
        <div id="datepicker_start_cal" class="datepicker_cal" data-date="{{ start_str }}">
        </div>
        <input type="hidden" id="datepicker_start" name="start" min="1970-01-01">
        <div id="datepicker_end_cal" class="datepicker_cal" data-date="{{ end_str }}">
            <div class="calendar_title">End</div>
        </div>
        <input type="date" id="datepicker_end" name="end" min="1970-01-01">
    </div>
    <div id="date_picker_container">
        <input type="number" id="datepicker_length" name="time_length" min="1" value="2">
        <select name="time_range" id="datepicker_range">
            <option value="days">day(s)</option>
            <option value="weeks" selected>week(s)</option>
            <option value="months">month(s)</option>
            <option value="years">year(s)</option>
            <option value="all">all time</option>
        </select>
    </div>
    <div class="datepicker_modal__buttons">
        <button id="cancelButton" class="btn btn-outline-secondary btn-md">Cancel</button>
        <button onclick="pickDates()" class="btn btn-outline-secondary btn-md">Apply</button>
    </div>
</div>

<script src="/source_optics/static/vendor/bootstrap-datepicker.min.js"></script>
<script src="/source_optics/static/datepicker.js"></script>

<link rel="stylesheet" type="text/css" href="/source_optics/static/vendor/bootstrap-datepicker3.min.css">
<link rel="stylesheet" type="text/css" href="/source_optics/static/datepicker.css">