{% include 'header.html' %}

{% include 'nav.html' %}

{% if path == "" %}
Browsing: /root/{{ file }} <br/>
{% else %}
Browsing: /{{ path }}/{{ file }} <br/>
{% endif %}

{% if has_prev %}<a href="{{ prev_link }}">&lt;&lt;</a>{% endif %} Page: {{ page_number }}{% if has_next %}<a href="{{ next_link }}">&gt;&gt;</a>{% endif %}

<p id="status"></p>

<style>
    table {
      font-family: arial, sans-serif;
      width: 100%;
      color: #F08080;
    }  
    td, th {
      padding: 8px;
    }
    tr:nth-child(even) {
      background-color: #F08080;
      color: white;
    }
</style>

<table>
    <tr>
        <td id="commitsGraph" width="700"></td>
        <td>
            <table border="1">
                <tr> <th> Number of Commits </th> <td> {{ num_commits }} </td> </tr>
                <tr> <th> Number of Authors </th> <td> {{ num_authors }} </td> </tr>
                <tr> <th> Latest Commit Date </th> <td> {{ latest_commit }} </td> </tr>
            </table>
        </td>
    </tr>
</table>

<table>
    <tr>
        <td id="commitsGraph" width="700"></td>
        <td id="linesChangedGraph" width="700"></td>
    </tr>
</table>

<script> 

    function loadChart(request, chart) {
        $("#" + chart).load(request, function(response, status, xhr) {
            if (status == "error") {
                setStatus("Error loading charts");
            } else {
                setStatus("");
            }
        });
    }
    setStatus = function(msg) {
        document.getElementById("status").innerText = msg;
    }
    
    setStatus("Loading charts...");
    loadChart('/graph/path_segment?repo={{ repo }}&start={{ start_str}}&end={{ end_str }}&path={{ path }}&file={{ file }}&xaxis=Time&yaxis=Commit%20Total&zaxis=null', "commitsGraph");
</script>

<div id="myGrid" class="ag-theme-balham">
    <script type="text/javascript" charset="utf-8">

        {% include 'tables.js' %}

        var columnDefs = [
            {headerName: "Date",         field: "commit_date", sortable: true, filter: true, resizable: true, type: ['dateColumn'] },
            {headerName: "Author",         field: "author_name", sortable: true, filter: true, resizable: true },
            {headerName: "Email",         field: "author", sortable: true, filter: true, resizable: true },
            {headerName: "Description", field: "subject", sortable: true, filter: true, width: 500, resizable: true, },
            {headerName: "SHA",        field: "sha", filter: true, resizable: true }
        ];

        var rowData = {{ table_json | safe }};
        var gridOptions = {
            columnDefs: columnDefs,
            rowData: rowData
        };
        var eGridDiv = document.querySelector('#myGrid');
        thisGrid = new agGrid.Grid(eGridDiv, gridOptions);

    </script>
</div>

{% include 'footer.html' %}