{% include 'header.html' %}

{% include 'nav.html' %}

{% if path == "" %}
Browsing: /root <br/>
{% else %}
Browsing: /{{ path }} <br/>
{% endif %}

{% if has_prev %}<a href="{{ prev_link }}">&lt;&lt;</a>{% endif %} Page: {{ page_number }}{% if has_next %}<a href="{{ next_link }}">&gt;&gt;</a>{% endif %}

<p id="status"></p>

<style>
    table {
      font-family: arial, sans-serif;
      width: 100%;
      color: #F08080;
    }
    td, th {
      padding: 8px;
    }
    tr:nth-child(even) {
      background-color: #F08080;
      color: white;
    }
</style>

<table>
    <tr>
        <td id="commitsGraph" width="700"></td>
        <td>
            <table border="1">
                <tr> <th> Number of Commits </th> <td> {{ num_commits }} </td> </tr>
                <tr> <th> Number of Authors </th> <td> {{ num_authors }} </td> </tr>
                <tr> <th> Latest Commit Date </th> <td> {{ latest_commit }} </td> </tr>
            </table>
        </td>
    </tr>
</table>

<script> 

    function loadChart(request, chart) {
        $("#" + chart).load(request, function(response, status, xhr) {
            if (status == "error") {
                setStatus("Error loading charts");
            } else {
                setStatus("");
            }
        });
    }
    setStatus = function(msg) {
        document.getElementById("status").innerText = msg;
    }

    setStatus("Loading charts...");
    loadChart('/graph/path_segment?repo={{ repo }}&start={{ start_str}}&end={{ end_str }}&path={{ path }}&xaxis=Time&yaxis=Commit%20Total&zaxis=null', "commitsGraph");
    
</script>

<div id="myGrid" class="ag-theme-balham">

    <div class="tab">
        <button class="tabLinks" onclick="switchTab(event, 'myGridFiles')" id="defaultTab">File Browser</button>
        <button class="tabLinks" onclick="switchTab(event, 'myGridCommits')">Commit Feed</button>
    </div>

    <style>
        .tab {
            overflow: hidden;
            background-color: white;
        }
        .tab button {
            border: 2px solid black;
            background-color: white;
            font-weight: bold;
            color: #F08080;
            border-color: #F08080;
            cursor: pointer;
            padding: 10px 15px;
            border-radius: 5px;
            margin-left: 5px;
            margin-bottom: 5px;
        }
        .tab button:hover {
            background-color: #F08080;
            color: white;
        }
        .tab button.active {
            background-color: #F08080;
            color: white;
        }
    </style>
        
    <script>

        window.onload = function () {
            defaultLoad();
        };

        function defaultLoad() {
            document.getElementById("defaultTab").click();
        }

        function switchTab(evt, tabName) {
            var tabs = document.getElementsByClassName("tabs");
            for (var i = 0; i < tabs.length; i++) {
                tabs[i].style.display = "none";
            }
            var tabLinks = document.getElementsByClassName("tabLinks");
            for (var i = 0; i < tabLinks.length; i++) {
                tabLinks[i].className = tabLinks[i].className.replace(" active", "");
            }
            document.getElementById(tabName).style.display = "block";
            evt.currentTarget.className += " active";
        }
        
    </script>

    <div id="myGridFiles" class="tabs"> </div>
    <div id="myGridCommits" class="tabs"> </div>
    
    <script type="text/javascript" charset="utf-8">

        {% include 'tables.js' %}

        function linkToFile(params) {
            if (params.value[1] == 'single_file') {
                return params.value ? "<a href='/report/" + params.value[1] + "?repo={{ repo }}&start={{ start_str }}&end={{ end_str }}&path={{ path }}&file=" + params.value[0] + "'>" + params.value[0] + "</a>" : "";
            } else if (params.value[1] == 'subdirectory' && params.value[0] == 'root') {
                return params.value ? "<a href='/report/files?repo={{ repo }}&start={{ start_str }}&end={{ end_str }}&path='>" + params.value[0] + "</a>" : "";
            } else {
                return params.value ? "<a href='/report/files?repo={{ repo }}&start={{ start_str }}&end={{ end_str }}&path=" + params.value[0] + "'>" + params.value[0] + "</a>" : "";
            }
        }

        function typeIcon(params) {
            if (params.value == 'file') {
                return "<i class='fas fa-file' style='color: A9A9A9'></i>";
            } else {
                return "<i class='fas fa-folder' style='color: F08080'></i>";
            }
        }

        var columnDefFiles = [
            {headerName: "",         field: "icon", cellRenderer: typeIcon, sortable: true, width: 40 },
            {headerName: "File",         field: "file_name", cellRenderer: linkToFile, sortable: true, filter: true, resizable: true },
            {headerName: "Total Authors",         field: "file_author_length", sortable: true, filter: true, width: 125, resizable: true },
            {headerName: "Latest Author",         field: "file_commit_author", sortable: true, filter: true, resizable: true },
            {headerName: "Total Commits",         field: "file_commit_length", sortable: true, filter: true, width: 125, resizable: true },
            {headerName: "Latest Commit Description", field: "file_commit_msg", sortable: true, filter: true, width: 400, resizable: true, },
            {headerName: "Latest Commit Date",        field: "file_date", sortable: false, filter: true, resizable: true, type: ['dateColumn'] }
        ];

        var columnDefCommits = [
            {headerName: "Date",         field: "commit_date", sortable: true, filter: true, resizable: true, type: ['dateColumn'] },
            {headerName: "Author",         field: "author_name", sortable: true, filter: true, resizable: true },
            {headerName: "Email",         field: "author", sortable: true, filter: true, resizable: true },
            {headerName: "Description", field: "subject", sortable: true, filter: true, width: 500, resizable: true, },
            {headerName: "SHA",        field: "sha", filter: true, resizable: true }
        ];

        var rowData = {{ table_json | safe }};
        var commitRowData = {{ commit_table_json | safe }};

        var gridOptionsFiles = {
            columnDefs: columnDefFiles,
            rowData: rowData
        };

        var gridOptionsCommits = {
            columnDefs: columnDefCommits,
            rowData: commitRowData
        };

        var gridDivFiles = document.querySelector('#myGridFiles');
        gridFiles = new agGrid.Grid(gridDivFiles, gridOptionsFiles);

        var gridDivCommits = document.querySelector('#myGridCommits');
        gridCommits = new agGrid.Grid(gridDivCommits, gridOptionsCommits);
       
    </script>

</div>

{% include 'footer.html' %}