{% include 'header.html' %}

{% include 'nav.html' %}

{% if not orgs_count %} 
   There are no organizations in the system yet. Visit the <A HREF="/admin">Admin View</A> to create some
   credentials and organizations.  Refer to the install documentation if you have questions.
{% else %}


<div id="myGrid" class="ag-theme-balham"></div>

  <script type="text/javascript" charset="utf-8">


    function detailsCell(params) {
        return "<a href='/org/" + params.value + "/repos?start={{start_str}}&end={{end_str}}' aria-label='Repositories'><span><i aria-hidden='true' class='fas fa-sitemap' title='Repos'></i></span></a>"
    }

    function linkToRepo(params) {
      return "<a href='/org/" + params.value[1] + "/repos?start={{ start_str }}&end={{ end_str }}'>" + params.value[0] + "</a>";
    }

    function linkToAuthors(params) {
      return "<a href='/org/" + params.value[1] + "/authors?start={{ start_str }}&end={{ end_str }}'>" + params.value[0] + "</a>";
    }

    var columnDefs = [
        {headerName: "Organization",    field: "name", filter: true, sortable: true, resizable: true },
        {headerName: "Repo Count",      field: "repo_count", cellRenderer:linkToRepo, filter: true, sortable: true, resizable: true },
        {headerName: "Author Count",   field: "author_count", cellRenderer: linkToAuthors, filter:true, sortable: true, resizable: true},

    ];

    var rowData = {{ orgs_table | safe }};

    var gridOptions = {
      columnDefs: columnDefs,
      rowData: rowData,
      paginationAutoPageSize: true,
      pagination: true,
      onFirstDataRendered: onFirstDataRendered
    };

  function onFirstDataRendered(params) {
     params.api.sizeColumnsToFit();
  }

  var eGridDiv = document.querySelector('#myGrid');
  thisGrid = new agGrid.Grid(eGridDiv, gridOptions);

  </script>

{% endif %}

{% include 'footer.html' %}
