{% include 'header.html' %}
{% include 'nav.html' %}

<form id="repoForm">

<!-- TODO: link to org index with buttons -->

<div id="myGrid" class="ag-theme-balham"></div>

  <script type="text/javascript" src="/source_optics/static/vendor/jquery-3.3.1.min.js"></script>
  <script type="text/javascript" src="/source_optics/static/vendor/jquery.sparkline.min.js"></script>
  <script type="text/javascript">

    {% include 'tables.js' %}

    $(function() {
        /** This code runs when everything has been loaded on the page */
        /* Inline sparklines take their values from the contents of the tag */
        $('.inlinesparkline').sparkline();
    });

    function checkBoxCell(params) {
        return "<input type='checkbox' name='repo' value='" + params.value + "'/>";
    }

    function repoNavCell(params) {
        return repoNav(params.value);
    }

    function linkToIndex(params) {
        return "<a href='/repo/" + params.value + "?start={{ start_str }}&end={{ end_str }}'>" + params.value + "</a>";
    }

    function linkToAuthorIndex(params) {
      return "<a href='/author/" + params.value + "'>" + params.value + "</a>";
    }


    function sparklines(params) {    
      return "<span class=\"inlinesparkline\">" + params.value + "</span>&nbsp;";
    }
    
    {% comment %}
    // to efficiently show last_scanned here we need to move it to the stats table
    // author_total can't be set clearly YET because it must be set on all rows in a denormalized way, like commitment
    // FIXME: restore both of these!
    {% endcomment %}

    var columnDefs = [
        {headerName: "",                    field: "details1", cellRenderer: checkBoxCell, width: 60, resizable: true,},
        {headerName: "Repo",                field: "repo", cellRenderer: linkToIndex, sortable: true, filter: true, resizable: true, },
        {headerName: "Commit Trends",       field: "sparklines", cellRenderer: sparklines, resizable: true, },
        {headerName: "Lines Changed",       field: "lines_changed", sortable: true, filter: true, resizable: true, },
        {headerName: "Commits",             field: "commit_total", sortable: true, filter: true, resizable: true, },
        {headerName: "Days Active",         field: "days_active", sortable: true, filter: true, resizable: true, },
        {% if not author %}
        {headerName: "Author Count",        field: "author_count", sortable: true, filter: true, resizable: true, },
        {% endif %}
        {headerName: "Latest Commit Date",  field: "latest_commit_date", type: 'dateColumn', sortable: true, filter: true, resizable: true, },
        {headerName: "Last Scanned",        field: "last_scanned", type: 'dateColumn', sortable: true, filter: true, resizable: true, },
    ];

    var rowData = {{ repo_table | safe }};

    var gridOptions = {
      columnDefs: columnDefs,
      rowData: rowData,
      paginationAutoPageSize: true,
      pagination: true,
      onFirstDataRendered: onFirstDataRendered,
    };

    function onFirstDataRendered(params) {
         params.api.sizeColumnsToFit();
    }

  var eGridDiv = document.querySelector('#myGrid');
  thisGrid = new agGrid.Grid(eGridDiv, gridOptions);


  </script>


</form>

{% include 'footer.html' %}