{% include 'header.html' %}

{% include 'nav.html' %}

<!--
Repo: {{ repo.name }}<br/>
-->
Last Scanned: {{ repo.last_scanned }}<br/>

<br/>
<p id="status"></p>

<div id="pies"></div>


<!-- FIXME: better layout -->

<p id="status"></p>
<div id="pies">
    
</div>

{% include 'footer.html' %}

<script>
//window.history.pushState("", "", window.location.href + `?&start={{ start_str }}&end={{ end_str }}`);

setStatus = function(msg) {
    document.getElementById("status").innerText = msg;
}

setStatus("Loading charts...");
request = `/pies?&repo={{ repo }}&start={{ start_str }}&end={{ end_str }}`;
$("#pies").load(request, function(response, status, xhr) {
            if (status == "error") {
                setStatus("Error loading charts");
            } else {
                setStatus("");
            }
        });

</script>